<a href="https://colab.research.google.com/github/Bdjountou/Data-Analytics-2022/blob/main/Pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment 2: Data Analysis & Wrangling using salaries dataset

In [ ]:
#import needed libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Load data using this link:

https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/Salaries.csv

In [ ]:
#load data 
vbook_df =pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/Salaries.csv')

#Data inspection:

Get to know your dataset by looking at its shape, the column names, overall descriptive statistics etc.

In [ ]:
vbook_df.describe()

       Unnamed: 0  yrs.since.phd  yrs.service         salary
count  397.000000     397.000000   397.000000     397.000000
mean   199.000000      22.314861    17.614610  113706.458438
std    114.748275      12.887003    13.006024   30289.038695
min      1.000000       1.000000     0.000000   57800.000000
25%    100.000000      12.000000     7.000000   91000.000000
50%    199.000000      21.000000    16.000000  107300.000000
75%    298.000000      32.000000    27.000000  134185.000000
max    397.000000      56.000000    60.000000  231545.000000

In [ ]:
vbook_df.head()

   Unnamed: 0      rank discipline  yrs.since.phd  yrs.service   sex  salary
0           1      Prof          B             19           18  Male  139750
1           2      Prof          B             20           16  Male  173200
2           3  AsstProf          B              4            3  Male   79750
3           4      Prof          B             45           39  Male  115000
4           5      Prof          B             40           41  Male  141500

# Data Exploration: 

This should include summary statistics, means, medians, quantiles, or any other relevant information about the data set. 
* mean/median of all salaries
* Median salary between gender and/or rank(title)
* Etc..

In [ ]:
type(vbook_df)

pandas.core.frame.DataFrame

In [ ]:
vbook_df.shape

(397, 7)

In [ ]:
vbook_df.columns

Index(['Unnamed: 0', 'rank', 'discipline', 'yrs.since.phd', 'yrs.service',
       'sex', 'salary'],
      dtype='object')

In [ ]:
vbook_df.head()

   Unnamed: 0      rank discipline  yrs.since.phd  yrs.service   sex  salary
0           1      Prof          B             19           18  Male  139750
1           2      Prof          B             20           16  Male  173200
2           3  AsstProf          B              4            3  Male   79750
3           4      Prof          B             45           39  Male  115000
4           5      Prof          B             40           41  Male  141500

In [ ]:
vbook_df['salary']

0      139750
1      173200
2       79750
3      115000
4      141500
        ...
392    103106
393    150564
394    101738
395     95329
396     81035
Name: salary, Length: 397, dtype: int64

In [ ]:
vbook_df['salary'].mean()

113706.45843828715

In [ ]:
vbook_df['salary'].median()

107300.0

In [ ]:
vbook_df['salary'].quantile()

107300.0

In [ ]:
vbook_df['salary'].sum()

45141464

In [ ]:
vbook_df['salary'].std()

30289.038694747804

In [ ]:
vbook_df['salary'].max()

231545

# Data Wrangling:
Perform some basic transformations on the data

* Rename values
* Rename columns
* Subset columns
* Check for nulls
* Etc

#Data visualization:

Create some simple visualizations showing some simple statistics

# Draw some conclusions based on the data.  What did you discover?

Based on the analysis performed above (both numerical and visual), the conclusions are as follows:

Your Findings here...